.big-container
            
  .container
    .row
      .col-md-4.offset-md-4.d-flex.justify-content-center.align-items-center(style='margin-top: 15px;')
        h3 Featured Items
    .row
      .col-md-6.offset-md-3.d-flex.justify-content-center.align-items-center
        p Shop for items based on what we&apos;ve featured this week!
  .container.products
    .row
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='/product')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='product-page2.html')
            img.img-fluid.w-100(src='img/product-2.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='product-page3.html')
            img(src='img/product-3.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='#')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='#')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='#')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='#')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart
      .col-xl-3.col-lg-4.col-md-6.d-flex.justify-content-center
        .hover-product
          a.product(href='#')
            img(src='img/product1.png' alt='')
            .product-text
              p Ruffles flowy dress
              span $49.99
              button +Add to cart

