footer.container-fluid
  .row
    .col-md-6.d-flex.justify-content-center.copy-right
      | brandname.com
    .col-md-6.d-flex.justify-content-center
      .socials
        a(href='#')
          i.fab.fa-facebook
      .socials
        a(href='#')
          i.fab.fa-instagram
      .socials
        a(href='#')
          i.fab.fa-twitter
      .socials
        a(href='#')
          i.fab.fa-pinterest
      .socials
        a(href='#')
          i.fab.fa-vk
script(
          src='assets/bootstrap/js/jquery-3.5.1.js' 
)
script(
          src='assets/bootstrap/js/bootstrap.js' 
)
