include header
include head
.container
  .row
    .col-md-8
      .row
        .col-xl-6.col-lg-12.d-flex.justify-content-center
          .prewie
            img(src='img/product1(1).png' alt='product-image')
        .col-xl-6.col-lg-12.d-flex.justify-content-center
          .prewie
            img(src='img/product1(2).png' alt='product-image')
        .col-xl-6.col-lg-12.d-flex.justify-content-center
          .prewie
            img(src='img/product1(3).png' alt='product-image')
        .col-xl-6.col-lg-12.d-flex.justify-content-center
          .prewie
            img(src='img/product1(4).png' alt='product-image')
    .col-md-4
      .discription
        .row
          .col.d-flex.justify-content-between.align-items-center
            h4 Ruffles flowy dress
            span
              strong $49.99
        .row
          .col
            h5 DESCRIPTION
            p
              | Flowy fabric. Flared design. Short design. V-neck. Long puffed sleeves. Ruffle details. Frill on the bottom.
        .row
          .col
            h5 CHOOSE YOUR SIZE
            select.form-control
              option XS
              option S
              option M
              option L
              option XL
        .row
          .col.d-flex.justify-content-center
            button.btn.btn-block Add to cart
            button.btn.btn-block
              i.far.fa-heart